.monthx {
    .card {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 60px;
        flex-direction: initial;
      }
      
      .card--reverse {
        flex-direction: row-reverse;
      }
      
      .card__img-holder {
        width: 520px;
        height: 320px;
        background-color: red;
        @media screen and (max-width:766px) {
          width: auto;
        }
      }
      
      .card__text {
        width: 400px;
      }
}