.monthx {
    .card {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 60px;
        flex-direction: initial;
        @media screen and (max-width:766px) {
          padding: 16px !important;
          
        }
      }
      
      .card--reverse {
        flex-direction: row-reverse;
      }
      
      .card__img-holder {
        width: 520px;
        height: 320px;
        background-color: red;
        @media screen and (max-width:766px) {
          width: 100%;
        }
      }
      
      .card__text {
        width: 620px;
        @media screen and (max-width:766px) {
          width: 100vw;
          margin: 0 8px !important;
        }
      }
}