// @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=News+Cycle&family=Roboto&display=swap');

@import 'cardwow';
@import 'add';

@font-face {
  font-family: "home";
  src: url('hinted-GTSuperDisplay-Light.woff2');
  src: local('hinted-GTSuperDisplay-Light.woff2');
  src: url('hinted-GTSuperDisplay-Light.woff2') format('woff2');
}
  

$cokelat1 : #dbcbbb;
$cokelat2 : #ede7e2;
$kuningmuda:#ffefce;
.banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.januari {
 
}

.process-wrap {
    overflow: hidden;
    position: relative;
    
  }
  .process,.process2 {
    width: 300%;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-item-align: center;
    align-self: center;
    height: 100vh!important;
    &-wrap {
      position: relative;
      &__icon {
        position: absolute;
        right: 0;
        top: 0;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
    .helping {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    
    &__item {
      display: block;
    //   align-items: center;
      padding: 32px 64px;
      position: relative;
      &--icon {
        position: absolute;
        right: 0;
        bottom: 0;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      @media screen and(min-width:1900px) {
        // padding: 32px 135px 32px 200px;
        padding: 64px 120px;
      }
      @media screen and (max-width:766px) {
        display: block;
      }
      .left{
        display: inline-block;
        width: 50vw;
        position: relative;
        @media screen and (max-width:766px) {
            width: 100%;
            top: 16px;
        }
        @media screen and (min-width:1900px) {
          width: 40vw;
        }
        .image {
          width: 100%;
          height: 80vh;
          // filter: grayscale(1);
          &:hover {
            // filter: grayscale(0);
          }
          @media screen and (max-width:766px) {

            width: 75vw;
            height: 50vh;
        
          }
          &__small {
            width: 175px;
            height: 245px;
            position: absolute;
            right: -5%;
            top: 60%;
            @media screen and (min-width:1900px) {
              width: 250px;
              height: 345px;
            }
            @media screen and (max-width:766px) {
                width: 130px;
                height: 185px;
                right: 8%;
                top: 45%;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                // border-radius: 50%;
            }
          }
          img {
              width: 100%;
              height: 100%;
              object-fit: cover;
          }
        }
      }
      .right {
        display: inline-block;
        width: 35vw;
        vertical-align: top;
        // word-wrap: break-word;
        margin-left: 52px;
       
        .tanggal {
          font-size: 2.5rem;
          width: fit-content;
          // background: #272121;
          // color: white;
          background-color: #E3A75f;
          color: #94221e;
          padding: 8px;
          // border-bottom: 1px dashed #333;
          @media screen and (max-width:766px) {
            font-size:3vh;
            padding: 4px 8px;
          }
        }
        @media screen and (min-width:1900px) {
          margin-left: 42px;
          width: 40vw;
        }
        @media screen and (max-width:766px) {
            width: 100%;
            margin-left: 0;
            display: block;
            margin-top: 90px;
            padding: 0 24px 0 0 ;
        }
        .font-title {
            font-size: 4.7vw;
            // font-family: 'home' !important;
            color:#d1765e;
            // line-height: 1.1;
            // font-weight: bold;
            @media screen and (min-width:1900px) {
              font-size: 4vw;
            }
            @media screen and (max-width:766px) {
                font-size: 4.5vh;
            }
        }
        .size-p {
            font-size: 1.3vw;
            margin-top: 16px;
            font-family: 'News Cycle',sans-serif;
            line-height: 1.2;
            color: #2a2a2a;
            width: 70%;
            @media screen and (max-width:766px) {
                font-size: 16px;
                line-height: 1.4;
                width: auto;
            }
        }
      }
      @media screen and (max-width:766px) {
        padding: 0 24px;
      }
      
      span {
        font-size: 30px;
        display: block;
      }
    }
  }

  

  .font-title {
      font-size: 4.5vw;
      // line-height: 1.1;
      text-align: center;
      position: relative;
      z-index: 90;
      font-weight: bold;
      // font-family: 'home' !important;
      @media screen and (min-width:1900px) {
        font-size: 4vw;
      }
      @media screen and (max-width:766px) {
          font-size: 4vh;
      }
  }
  
  .empty {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bg {
    &-beige1{
      background: #fffaf6;
    }
    &-beige2 {
      background: #f4eadd;
    }
    &-silver {
      background: #e2e2e2;
    }
    &-silver2 {
      background: #eeeeee;
    }
    &-kuningmuda {
      background: $kuningmuda;
    }
    &-cokelat {
      background: $cokelat1;
    }
    &-cokelat2 {
      background: $cokelat2;
    }
  }

  .bulan {
    position: relative;
    .berita {
      padding: 32px;
      // height: 100vh;
      // border-right: 1px solid #a9a9a9;
      position: relative;
      &__icon {
        position: absolute;
        right: -24px;
        top: -16px;
        width: 230px;
        height: auto;
        z-index: 9;
        @media screen and (max-width:766px) {
          display: none;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      @media screen and (max-width:766px) {
        padding: 8px;
      }
      h2 {
        font-size: 4.5vw;
        // font-family: 'home' !important;
        // line-height: 1.1;
        font-weight: bold;
        @media screen and (min-width:1900px) {
          font-size: 4vw;
        }
        @media screen and (max-width:766px) {
            font-size: 4.5vh;
        }
    }
      .size-p {
        font-size: 1.3vw;
        margin-top: 16px;
        font-family: 'News Cycle',sans-serif;
        line-height: 1.2;
        color: #2a2a2a;
        // width: 70%;
        @media screen and (max-width:766px) {
            font-size: 16px;
            line-height: 1.4;
        }
    }
      .tanggal {
        font-size: 2.5rem;
          width: fit-content;
          background: #272121;
          color: white;
          padding: 8px;
        @media screen and (max-width:766px) {
          font-size:3vh;
            padding: 4px 8px;
        }
      }
      .image {
        width: 100%;
        height: auto;
        // filter: grayscale(1);
        @media screen and (max-width:766px) {
          height: 240px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
    h2 {
      position: relative;
      z-index: 90;
    }
    .brush {
      width: 25vw;
      height: auto;
      position: absolute;
      opacity: .8;
      transform: rotate(163deg);
      z-index: 8;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .kotak {
      border: 4px solid #d1765e;
      padding: 16px;
      width: 25vw;
      height: 230px;
      z-index: 8;
      position: absolute;
      // &::before {
      //   content: "";
      //   position: absolute;
      //   left: 16px;
      //   right: 16px;
      //   top: 25px;
      //   bottom: 32px;
      //   background: #cfb28d;
      //   transform: skew(1deg, 3deg);
      // }
    }
  }

  .juni,.bulan {
    .panel {
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .tanggal {
      font-size: 2.5rem;
      width: fit-content;
      background: #272121;
      color: white;
      padding: 8px;
      // border-bottom: 1px dashed #333;
      @media screen and (max-width:766px) {
        font-size:3vh;
        padding: 4px 8px;
      }
    }

    .size-p {
        font-size: 1.3vw;
        margin-top: 16px;
        font-family: 'News Cycle',sans-serif;
        line-height: 1.2;
        color: #2a2a2a;
        // width: 70%;
        @media screen and (max-width:766px) {
            font-size: 16px;
            line-height: 1.4;
        }
    }

    .image {
      width: 100%;
      height: auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    
    .panel p {
      // font-size: 6vw;
    }
    
    // .red {
    //   background: red;
    // }
    
    // .blue {
    //   background: blue;
    // }
    
    // .green {
    //   background: green;
    // }
    
    // .orange {
    //   background: orange;
    // }    
  }

.clear {
  clear: both;
}

.m-mobile {
  @media screen and (max-width:766px) {
    margin: 8px;
    margin-left: initial;
    margin-right: initial;
  }
}

.size-p {
  font-size: 1.3vw;
  margin-top: 16px;
  font-family: 'News Cycle',sans-serif;
  line-height: 1.2;
  color: #2a2a2a;
  // width: 70%;
  @media screen and (max-width:766px) {
      font-size: 16px;
      line-height: 1.4;
  }
}
.tanggal {
  font-size: 2.5rem;
    width: fit-content;
    background: #272121;
    color: white;
    padding: 8px;
  @media screen and (max-width:766px) {
    font-size:3vh;
      padding: 4px 8px;
  }
}
body, main {
  overflow-x: hidden;
}

.bulan,.monthx {
  overflow-x: clip;
}

.mt-50vh {
  margin-top: 50%;
}

.agustus {
  
}