// @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=News+Cycle&family=Roboto&display=swap');
.banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.process-wrap {
    overflow: hidden;
  }
  .process,.process2 {
    width: 300%;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-item-align: center;
    align-self: center;
    height: 100vh!important;

    // background-image: url('../img/iStock-1253186607.jpg');
    // background-attachment: fixed;
    // background-size: auto;
    .helping {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    
    &__item {
      display: block;
    //   align-items: center;
      padding: 32px 64px;
      @media screen and(min-width:1900px) {
        // padding: 32px 135px 32px 200px;
        padding: 64px 120px;
      }
      @media screen and (max-width:766px) {
        display: block;
      }
      .left{
        display: inline-block;
        width: 50vw;
        position: relative;
        @media screen and (max-width:766px) {
            width: 100%;
            top: 16px;
        }
        @media screen and (min-width:1900px) {
          width: 40vw;
        }
        .image {
          width: 100%;
          height: 80vh;
          // filter: grayscale(1);
          &:hover {
            // filter: grayscale(0);
          }
          @media screen and (max-width:766px) {
            width: 65%;
            height: 285px;
          }
          &__small {
            width: 175px;
            height: 245px;
            position: absolute;
            right: -5%;
            top: 60%;
            @media screen and (min-width:1900px) {
              width: 250px;
              height: 345px;
            }
            @media screen and (max-width:766px) {
                width: 130px;
                height: 185px;
                right: 8%;
                top: 45%;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                // border-radius: 50%;
            }
          }
          img {
              width: 100%;
              height: 100%;
              object-fit: cover;
          }
        }
      }
      .right {
        display: inline-block;
        width: 35vw;
        vertical-align: top;
        // word-wrap: break-word;
        margin-left: 52px;
       
        .tanggal {
          font-size: 2.5rem;
          // width: fit-content;
          color: #272121;
          // border-bottom: 1px dashed #333;
          @media screen and (max-width:766px) {
            font-size:1.75rem;
          }
        }
        @media screen and (min-width:1900px) {
          margin-left: 42px;
          width: 40vw;
        }
        @media screen and (max-width:766px) {
            width: 100%;
            margin-left: 0;
            display: block;
            margin-top: 90px;
            padding: 0 24px 0 0 ;
        }
        .font-title {
            font-size: 4.5vw;
            // line-height: 1.1;
            font-weight: bold;
            @media screen and (min-width:1900px) {
              font-size: 4vw;
            }
            @media screen and (max-width:766px) {
                font-size: 4vh;
            }
        }
        .size-p {
            font-size: 1.3vw;
            margin-top: 16px;
            font-family: 'News Cycle',sans-serif;
            line-height: 1.2;
            color: #2a2a2a;
            width: 70%;
            @media screen and (max-width:766px) {
                font-size: 16px;
                line-height: 1.4;
                width: auto;
            }
        }
      }
      @media screen and (max-width:766px) {
        padding: 0 16px;
      }
      
      span {
        font-size: 30px;
        display: block;
      }
    }
  }

  .font-title {
      font-size: 4.5vw;
      // line-height: 1.1;
      font-weight: bold;
      @media screen and (min-width:1900px) {
        font-size: 4vw;
      }
      @media screen and (max-width:766px) {
          font-size: 4vh;
      }
  }
  
  .empty {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bg {
    &-silver {
      background: #e2e2e2;
    }
  }

  .bulan {
    .berita {
      padding: 32px;
      // height: 100vh;
      // border-right: 1px solid #a9a9a9;
      .size-p {
        font-size: 1.3vw;
        margin-top: 16px;
        font-family: 'News Cycle',sans-serif;
        line-height: 1.2;
        color: #2a2a2a;
        // width: 70%;
        @media screen and (max-width:766px) {
            font-size: 16px;
            line-height: 1.4;
        }
    }
      .tanggal {
        font-size: 2rem;
        // width: fit-content;
        color: #272121;
        // border-bottom: 1px dashed #333;
        @media screen and (max-width:766px) {
          font-size:1.75rem;
        }
      }
      .image {
        width: 100%;
        height: auto;
        // filter: grayscale(1);
        @media screen and (max-width:766px) {
          height: 240px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }