$max: 766px;
// $blue: rgb(83, 157, 192);
$primary: #fafafa;
$orange: #f7941f;
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Bubblegum+Sans);

@font-face {
    font-family: "Recoleta Med";
    src: url('Recoleta-Medium.woff2');
    src: local('Recoleta-Medium.woff2');
    src: url('Recoleta-Medium.woff2') format('woff2');
    // src: url('bingo.otf') format('opentype');
  }

  // @import "box";

body {
  background: #ecf0f3;
  overflow-x: hidden;
}
main {
  background: #ecf0f3;
  overflow-x: hidden;
  display: initial;
}


$section-transition-property: all;
$section-transition-duration: 500ms;
$section-transition-timing-function: cubic-bezier(.4,0,.2,1);

.fullpagex {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: 1s;
  background: white;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}
.ceks {
  transition: 1s;
  display: block !important;
  z-index: 88;
}

.closex {
  position: absolute;
  right: 8px;
  top: 8px;
  i {
    font-size: 3.5rem;
  }
}

section {
  position: relative;
  // background-image: radial-gradient(circle, #434343 0%, black 100%);
  z-index: 60;
  min-height: 100vh;
  // background: linear-gradient(to bottom, rgba(76, 193, 134,.5) 10%,transparent);
  
  h2 {
    text-align: left;
  }

}

.banner {
  position: relative;
  @media screen and (max-width:766px) {
    padding-top: 24px;
  }
  &__title {
    @media screen and (max-width:766px) {
      position: absolute;
      left: 16px;
      text-shadow: 1px 1px white;
      font-weight: bold;
      top: 40px;
      // text-align: center;
      font-size: 2.2rem;
      line-height: 2rem;
    }
  }
  &__pembukaan {
    position: absolute;
    left: 16px;
    top: 45%;
    width: 52%;
    font-size: 18px;
  }
}

section {
  background: #f4eadd;
  .image {
    width: 100vw;
    height: 100vh;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @media screen and (max-width:766px) {
        object-fit: contain;
      }
    }
    .wrapping {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 20;
      transform: translate(-50%,-50%);
      @media screen and (max-width:766px) {
        width: 80vw;
      }

      .card {
        width: 15vw;
        display: inline-block;
        padding: 4px;
        margin: 8px;
        position: relative;
        z-index: 32;
        @media screen and (max-width:766px) {
          width: 12vh;
          margin: 8px 0;
        }
        &__img {
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        &__title {
          text-align: center;
          font-weight: bold;
        }
      }
    }
  }

}