$max: 766px;
// $blue: rgb(83, 157, 192);
$primary: #fafafa;
$orange: #f7941f;
@import url('https://fonts.googleapis.com/css2?family=News+Cycle&family=Rubik:wght@400;600;700&family=Montserrat:wght@400;600;700&display=swap');

  // @import "box";

body {
  background: #cfd8dc;
  overflow-x: hidden;
}
main {
  background: #cfd8dc;
  overflow-x: hidden;
  display: initial;
}


$section-transition-property: all;
$section-transition-duration: 500ms;
$section-transition-timing-function: cubic-bezier(.4,0,.2,1);

.fullpagex {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: 1s;
  // background: #fed8b5;
  background: #b0bec5;
  .mt-5 {
    // width: 520px;
    margin: 0 auto;
    display: block;
    text-align: center;
    @media screen and (max-width:766px) {
      width: auto;
    }
  }
  // display: flex;
  // justify-content: center;
  // align-items: center;
}
.ceks {
  transition: 1s;
  display: block !important;
  z-index: 200;
  overflow-y: auto;
}

.closex {
  position: sticky;
  right: 0;
  top: 0;
  cursor: pointer;
  float: right;
  height: 40px;
  // background: red;
  i {
    font-size: 2.5rem;
  }
}

section {
  position: relative;
  // background-image: radial-gradient(circle, #434343 0%, black 100%);
  z-index: 10;
  // min-height: 100vh;
  // background: linear-gradient(to bottom, rgba(76, 193, 134,.5) 10%,transparent);
  
  h2 {
    text-align: left;
  }

}

.banner {
  position: relative;
  @media screen and (max-width:766px) {
    padding-top: 24px;
  }
  &__title {
    @media screen and (max-width:766px) {
      position: absolute;
      left: 16px;
      text-shadow: 1px 1px white;
      font-weight: bold;
      top: 40px;
      // text-align: center;
      font-size: 2.2rem;
      line-height: 2.2rem;
    }
  }
  &__pembukaan {
    position: absolute;
    left: 16px;
    top: 45%;
    width: 52%;
    font-size: 18px;
    p {
      color: #393536;
    }
  }
}

section {
  background: #f4eadd;
  .image {
    width: 100vw;
    height: 100vh;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @media screen and (max-width:766px) {
        object-fit: cover;
      }
    }
    .wrapping {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 20;
      transform: translate(-50%,-50%);
      @media screen and (max-width:766px) {
        width: 80vw;
      }

      .card {
        width: 15vw;
        display: inline-block;
        padding: 4px;
        margin: 8px;
        position: relative;
        z-index: 32;
        @media screen and (max-width:766px) {
          width: 12vh;
          margin: 8px 0;
        }
        &__img {
          width: 100%;
          // height: 100%;
          @media screen and (max-width:766px) {
            height: 120px;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        &__title {
          text-align: center;
          font-weight: bold;
        }
      }
    }
  }

}

.datax {
  padding: 16px;
  display: inline-block;
  width: 45%;
  vertical-align: top;
  text-align: left;
  @media screen and (max-width:766px) {
    display: block;
    width: auto;
  }
  &__card {
    padding: 8px;
    // border-radius: 8px;
    background: white;
    h3 {
      font-size: 2rem;
      font-weight: bold;
    }
    p {
      font-size: 1rem;
      line-height: 1.2;
      color: #4A4A4A;
      @media screen and (max-width:766px) {
        font-size: 1rem;
        line-height: 1.4;
      }
    }
    .image {
      height: 260px;
      width: 100%;
      @media screen and (max-width:766px) {
        height: 160px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .desc {
      padding: 8px;
      font-size: 14px;
    }

  }
}

.cek-bg {
  height: auto;
  width: 520px;
  margin: 0 auto;
  // background: #f4eadd; //beige muda
  background: radial-gradient(circle,#b0bec5, #d5e1e6 );
  // background: url('../img/bg-test2.jpg');
  position: relative;
  display: block;
  // background: url('../img/frame4.png');
  // background-size: contain;
  // height: 300vh;
  // background-repeat: no-repeat;
  @media screen and (max-width:766px) {
    width: auto;
  }
  .titles {
    padding: 32px 16px 0;
  }
  .image {
    width: 100%;
    height: auto;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    @media screen and (max-width:766px) {
      top: 70px;  
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .pembukaan {
    // position: absolute;
    position: relative;
    height: 90vh;
    // top: 65vh;
    width: 64%;
    padding: 282px 16px 0;

    // background: beige;
    @media screen and (max-width:766px) {
      width: 65%;
      padding: 216px 16px 0;
    }
    p {
      // position: absolute;
      // top: 50%;
    }
   
  }

  .trimester-1 {
    // position: absolute;
    // background: steelblue;
    position: relative;
    // top: 50vh;
    height: 100vh;
    padding: 102px 16px;
  }
  .trimester-2 {
    // background: beige;
    height: 100vh;
    padding: 102px 16px;
    
  }
}

.gambar {
  // width: 50%;
  // height: 135px;
  width: 46%;
  vertical-align: middle;
  // border: 1px solid red;
  // height: 145px;
  display: inline-block;
  @media screen and (max-width:766px){
    // width: 30vw;
    width: 33vw;
  }
  @media screen and (max-width:360px) {
    width: 36vw !important;
  }
  &__image {
    height: 220px;
    @media screen and (max-width:766px) {
      // height: 150px;
      height: auto;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      @media screen and (max-width:766px) {
        // object-fit: cover;
      }
    }
  }
}

.wrap-test {
  display: block;
  ul {
    list-style-type: none;
    position: relative;
    top: -12px;
    padding: 4px 16px;
    border-left: 1px dashed;
    li {
      margin: 4px;
      position: relative;
      list-style-type: none;
      &::before {
        content: "";
        position: absolute;
        left: -20px;
        width: 16px;
        height: 10px;
        /* background: black; */
        top: 12px;
        border-top: 1px dashed;
      }
    }
    // &::before {
    //     content: "";
    //     position: absolute;
    //     left: 0;
    //     width: 100px;
    //     top: -32px;
    //     border-left: 1px solid white;
    //     height: 100px;
    // }
    // li {
    //   margin: 4px 16px;
    //   position: relative;
    //   z-index: 9;
    //   &::before {
    //     position: absolute;
    //     left: -16px;
    //     content: "";
    //     border: 1px solid white;
    //     width: 10px;
    //     top: 12px;
    //   }
    // }
  }
}

.w-70 {
  display: inline-block;
  width: 53%;
  vertical-align: middle;
  @media screen and (max-width:360px) {
    width: 57% !important;
  }
  @media screen and (max-width:766px) {
    width: 60%;
  }
}

.bulan {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  display: block;
  .click {
    display: inline-block;
    // border-radius: 50%;
    margin-left: 4px;
    padding: 4px;
    // background: #ccc;
  }
  h2 {
    margin: 0;
    display: inline-block;
    padding: 16px 0;
    font-size: 24px;
    font-weight: 600;
    @media screen and (max-width:766px) {
      font-size: 28px;
      padding: 8px 0;
    }
  }
  .imagexx {
    height: 200px;
    width: auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  width: fit-content;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #546e7a  0, #455a64 100%);
  // background-image: radial-gradient(100% 100% at 100% 0, #b85720 0, #7f3827 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgb(96 125 139  / 40%) 0 2px 4px, rgb(96 125 139 / 30%) 0 7px 13px -3px, rgb(96 125 139 / 50%) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  margin: 8px 0;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;


  &:focus {
    box-shadow: #607d8b 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #607d8b 0 -3px 0 inset;
  }

  &:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #607d8b 0 -3px 0 inset;
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: #607d8b 0 3px 7px inset;
    transform: translateY(2px);
  }
  /*cursor: pointer;
  width: fit-content;
  background: linear-gradient(45deg, transparent 5%, #61422c 5%);
  border: 0;
  color: #fff;
  margin-bottom: 52px;
  box-shadow: 6px 0px 0px #a7a9ac;
  outline: transparent;
  padding: 8px;
  position: relative;
  &::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
  }*/
  // background: #A78B71;
  // padding: 8px 16px;
  // display: block;
  // color: #fff;
  // width: fit-content;
  // margin: 16px 0 42px;
  // position: relative;
  // transform: skew(-20deg);
  // .skew-fix {
  //   transform: skew(20deg);
  // }
  // &::before {
  //   content: "";
  //   clip-path: inset(80% 91% 0% 0%);
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   width: 100%;
  //   top: 0;
  //   display: block;
  //   height: 100%;
  //   background: #f4eadd;

  // }
}

.btn-shine {
    color: #263238;
    font-family: 'Rubik' !important;
    background: linear-gradient(to right, #263238 0, #e4e4e4 10%, #263238 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-shadow: 1px 1px white; */
    animation: shine_des 5s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: 600;
    font-size: 3rem;
    text-decoration: none;
  @media screen and (max-width:766px) {
    animation: shine 5s infinite linear;
    font-size: 2.2rem;
  }
  // white-space: nowrap;
}

@keyframes shine {
  0% {
    background-position: 0
  }
    
  60% {
    background-position: 220px
  }
    
  100% {
  background-position: 250px
  }
}

@keyframes shine_des {
  0% {
    background-position: 0
  }
    
  60% {
    background-position: 300px
  }
    
  100% {
  background-position: 350px
  }
}

    