$max: 766px;
// $blue: rgb(83, 157, 192);
$primary: #fafafa;
$orange: #f7941f;
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Bubblegum+Sans);

@font-face {
    font-family: "Recoleta Med";
    src: url('Recoleta-Medium.woff2');
    src: local('Recoleta-Medium.woff2');
    src: url('Recoleta-Medium.woff2') format('woff2');
    // src: url('bingo.otf') format('opentype');
  }
body {
  background: #ecf0f3;
  overflow-x: hidden;
}
main {
  background: #ecf0f3;
  overflow-x: hidden;
  display: initial;
}

section {
  position: relative;
  // background-image: radial-gradient(circle, #434343 0%, black 100%);
  z-index: 60;
  // background: linear-gradient(to bottom, rgba(76, 193, 134,.5) 10%,transparent);
  
  h2 {
    text-align: left;
  }

}

section {
  .image {
    width: 100vw;
    height: 100vh;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}